.uctoplus_invoice_numbering_list-wrapper td {
    display: flex;
    flex-direction: column;

}

.uctoplus_invoice_numbering_list-wrapper td > div {
    padding-bottom: 5px;
}

.uctoplus_invoice_numbering_list-wrapper td > div > label {
    display: block;
}
#uctoplus-invoices-proforma-invoice-download-meta-box .inside > a,
#uctoplus-invoices-invoice-download-meta-box .inside > a  {
    display:block;
}

#uctoplus-invoices-proforma-invoice-download-meta-box .inside > a > span,
#uctoplus-invoices-invoice-download-meta-box .inside > a > span {
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 75px;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

#uctoplus-invoices-proforma-invoice-download-meta-box .inside > a > span:hover,
#uctoplus-invoices-invoice-download-meta-box .inside > a > span:hover {
    text-decoration: none;
}


.wrap.uctoplus-plugins-namespace form {
    display:flex
}
.wrap.uctoplus-plugins-namespace form>div:nth-of-type(1) {
    flex-grow: 10;
}

